#root{
    background: url(../img/Winx-bg.jpg);
    background-size: cover;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.calendar-main{
    margin-top: 71px;
}

.flex-col{
    width: 70%;
    display: flexbox;
    flex-direction: column;
}

.wrap-year-month,
.flex-row {
    display: flex;
    flex-direction: row;
}

.wrap-year-month{
    display: flex;
    padding: 20px 0 0 0;
    justify-content: center;
    align-items: center;
}
.asd{
    flex: 1 1 auto;
}

.month-year{
    color: #ffffff;
    background: #3D3D3D;
    border-radius: 5px;
    border: 4px solid rgba(0, 0, 0, 0);
    min-width: 100px;
    font-size: 18px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    opacity: 0.98;
    padding: 0 20px;
}

.day-name{
    background: #3D3D3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    border: 4px solid rgba(0, 0, 0, 0);
    min-width: 100px;
    font-size: 26px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    opacity: 0.98;
}

.day-name:nth-child(1)::after{ content: "Понедельник" }
.day-name:nth-child(2)::after{ content: "Вторник" }
.day-name:nth-child(3)::after{ content: "Среда" }   
.day-name:nth-child(4)::after{ content: "Четверг" }
.day-name:nth-child(5)::after{ content: "Пятница" }
.day-name:nth-child(6)::after{ content: "Суббота" }
.day-name:nth-child(7)::after{ content: "Воскресенье"}

@media(max-width:1600px){
    .day-name{
        font-size: 22px;
    }
    .day-plate{
        font-size: 35px;
        min-height: 85px;
    }
}

@media(max-width:1366px){
    .day-name{
        font-size: 18px;
    }
    .day-plate{
        font-size: 25px;
        min-height: 72px;
    }
}

@media(max-width:1280px){
    .day-name{
        font-size: 16px;
    }
    .day-plate{
        font-size: 25px;
        min-height: 65px;
    }
}

@media (max-width: 1200px) {
    .day-name:nth-child(1)::after{ content: "ПН" }
    .day-name:nth-child(2)::after{ content: "ВТ" }
    .day-name:nth-child(3)::after{ content: "СР" }   
    .day-name:nth-child(4)::after{ content: "ЧТ" }
    .day-name:nth-child(5)::after{ content: "ПТ" }
    .day-name:nth-child(6)::after{ content: "СБ" }
    .day-name:nth-child(7)::after{ content: "ВС" }
    
    .mini-events a img,
    .mini-events img{
        height: 20px;
        width: 20px;
    }

    .day-name, .day-plate{
        min-width: 70px;
    }

    .events-area{
        min-width: 10px;
    }
}
