@import "Header.css";

* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

.page-container-event{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    background-size: cover;
    /* height: 100% !important; */
}

.no-access{
    background: url(https://img5.goodfon.ru/wallpaper/nbig/c/8d/rik-i-morti-rick-and-morty-rick-sanchez-rick-sanchez-multfil.jpg);
    background-size: cover;
    font-family: "Algerian";
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:rgb(245, 61, 61);
}

.event{
    /* width: 100%; */
    display: grid;
    /* background: rgb(255, 255, 255); */
    /* grid-template-columns: 3fr 1fr; */
    gap: 20px;
    margin: 20px;
    /* padding: 20px; */
    background: #3d3d3d;
    opacity: 0.98;
    border-radius: 4px;
}

.event-box,
.chat-main-box{
    display: grid;
    /* background: rgba(139, 255, 139, 0.5); */
    padding: 20px;
    /* border-radius: 4px; */
    /* box-shadow: 0 0 8px rgba(130,255,130,0.5);  */
}

.event-box{
    /* grid-template-rows: 1fr 3fr; */
    grid-template-columns: 2fr 7fr; /* !important; */
    gap: 15px;
}

.chat-main-box{
    grid-template-rows: auto 1fr;
}

.event-img-wrap,
.event-img{
    max-width: 100%;
}

.event-img{
    width: 100%;
}

.chat-box{
    border: 4px solid rgba(50, 50, 50, 0);
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.members-title,
.event-body-title{
    height: auto;
}

.event-members-top{
    display: flex;
    align-items: center;
}

.event-page-wrap{
    background: #343a40;
    opacity: 0.98;
    /* background: rgba(224, 224, 224, 0.5); */
    /* border: 4px solid rgba(224, 224, 224, 0.5); */
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.8); 
    padding: 15px;
}

.invite-friends-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.invite-friends-window{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: #fff0f0;
    width: 50%;
    /* display: flex; */
    /* align-self: center; */
    background: #3d3d3d;
    padding: 20px;
    border-radius: 5px;
}

.invite-friends-title{
    height: auto;
    margin-bottom: 20px;
}

.invite-friends-close-btn{
    align-self: flex-end;
}

.invite-friends-flex-row{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.event-members-top-btn{
    max-width: 65px;
    margin-left: 10px !important;
}
.event-title-and-delete-btn{
    display: flex;
    justify-content: space-between;
}

.confirm-delete{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-delete-window{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: #fff0f0;
    width: 50%;
    /* display: flex; */
    /* align-self: center; */
    background: #3d3d3d;
    padding: 20px;
    border-radius: 5px;
}

.confirm-delete-no{
    margin-left: 15px !important;
}
.confirm-delete-btns{
    display: flex;
    justify-content: center;
}




