@import "Header.css";

* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

.event{
    width: 100%;
    display: grid;
    /* background: rgb(255, 255, 255); */
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    /* padding: 20px; */
}

.event-box,
.chat-main-box{
    display: grid;
    background: rgba(139, 255, 139, 0.5);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(130,255,130,0.5); 
}

.event-box{
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 5fr;
    gap: 15px;
}

.chat-main-box{
    grid-template-rows: auto 1fr;
}

.event-img-wrap,
.event-img{
    max-width: 100%;
}

.event-member{
    margin-bottom: 8px;
}

.chat-box{
    border: 4px solid rgba(50, 50, 50, 0);
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.event-page-wrap{
    background: rgba(224, 224, 224, 0.5);
    /* border: 4px solid rgba(224, 224, 224, 0.5); */
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5); 
    padding: 15px;
}



