* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Algerian";
    src: url(../fonts/Algerian.TTF);
}

.friends-main-box{
    margin: 5px 20%;
    padding: 5px;
    background: #3D3D3D;
    border-radius: 4px;
}

.friends-list{
    height: 480px;
    margin-top: 5px;
    overflow-y: auto;
}

.friends{
    color: white;
}

.friend{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    height: 70px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #343a40;
    color: white;
}

.friend-avatar{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 100%;
}

.wrap{
    display: flex;
    align-items: center;
    margin: 0px 3px;
}

.button1{
    margin-left: 5px;
}

.deleted{
    visibility: hidden;
}

.friend-name{
    color: white;
}